@import "../general/variables.scss" ;
.text{
    display: flex;
    margin-bottom: 200px;
    .about-us{
        @include centrador-magico;
        flex-direction: column;
        background: linear-gradient(180deg, rgba(81, 22, 83, 0.2) 60%,rgba(255,255,255,0.2) 80%);
        border-radius: 10px;
        margin:0px 10px;
        h1{
            text-align: center;
            color: $dark-letter;
            font-size: 3em;
            padding: 0px 10px;
            font-weight: bolder;
        }
        p{
            text-align: left;
            color: $dark-letter;
            font-size: 1.8em;
            padding: 0px 20px;
            font-weight: bolder;
            @media screen and (max-width:768px){
                text-align: center;
            }
        }
    }
    img{
        width: 50%; 
        height: auto;
        border-radius: 10px;
        margin: 30px;
        @media (max-width:768px){
        width: 90%;
        margin: none;
        }
    }
    @media (max-width:768px){
        flex-direction: column;  
        margin: 10px;
        align-items: center;
    }
}