@import "../general/variables.scss" ;

.text{
    display: flex;
    .about-us{
        @include centrador-magico;
        flex-direction: column;
        h2{
            text-align: center;
            color: $dark-letter;
            font-size: 42px;
            padding: 0px 10px;
        }
        p{
            text-align: center;
            color: $dark-letter;
            font-size: 22px;
            padding: 0px 50px;
        }
    }
    img{
        max-width: 50%;
        height: auto;
        border-radius: 10px;
        margin: 30px;
    }
    @media (max-width:768px){
        flex-direction: column;  
        margin: 10px;
    }
}