@import "../general/variables.scss";
#contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 640px;
    font-size: 28px;
    margin-bottom: 200px;
    p{
        color: $dark-letter;
        font-weight: bold;
        text-align: center;
    }
    #links{
        @include centrador-magico;
        width: 50%;
        height: 600px;
        flex-direction: column;
        background-color: $bk-principal-color;
        border-radius: 10px;
        @media screen and (max-width:768px) {
            height: 450px;
            width: 70%;
        }
        a{
            color: $dark-letter;
            font-size: 48px;
            text-decoration-line: none;
            text-shadow: 0px 10px 10px $boxsha-principal-color; 
            &:hover{
                cursor: pointer;
                color: $accent-color;
            }
        }
    }
}

