@import "../general/variables.scss";

.media-container{
    display: flex;
    flex-direction: column;
    .media{
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width:768px){
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;        
        }
        .content{
            width: 700px;
            height: 400px;
            padding: 20px;
            @media (max-width:768px){
                width: 400px;
                height: 300px;
                padding: 20px;    
            }
            .media-content{
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }
        }   
    }
}