header{
    background-color:rgba(0, 0, 0,0.3);
    position:fixed;
    width: 100vw;
    #logo{
        margin: 0px 100px;
        font-size: 48px;}
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            list-style-type : none;
            a{
                font-size:  20px;
                color: #39304A;
                margin: 0px 20px;
                font-weight: bold;
                text-decoration-line:none ;
                &:hover{
                    color: #202030;
                    cursor:pointer
                }
            }
        }    
    }
}