*{
    margin: 0px;
    padding: 0px;
}
body{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-areas: 
       "nav header "
       "nav main "
       "nav footer " 
    ;   
}
header{
    grid-area: header;
    background-color: lightgreen;
}
main{
    grid-area: main;
    background-color: lightsalmon;
}
footer{
    grid-area: footer;
    background-color: lightskyblue;
}
nav{
    grid-area: nav;
    background-color: lightpink;
}